.login-button {
    border: solid 2px #26ffc7;
    background: #01172e;
    color: #26ffc7;
    margin-bottom: 20px;
}

.no-touch .login-button:hover {
    background: #26ffc7;
    color: #01172e;
}

.login-page {
    background: #01172e;
}